<h1> {{title}}</h1>


<table>
    <tr>
        <td>amount <input> </input> </td>
        <td id="amount"></td>
    </tr>
    <tr>
        <td> EUR </td>
        <td id="currency"></td>
    </tr>
    <tr>
        <td>destination currency <select> {{{currencyList}}} </select> </td>
        <td id="destination"></td>
    </tr>
    <tr>
        <td> <button>Convert</button></td>
    </tr>
    <tr>
        <td>converted amount </td>
        <td id="converted"></td>
    </tr>
</table>