<h1> {{title}}</h1>

 <form>
<table>
    <tr>
        <td>Amount <input name= "amount"> </input> </td>
    </tr>
    <tr>
        <td> EUR </td>
        <td id="currency"></td>
    </tr>
    <tr>
        <td>Destination currency <select name= "code" > {{{currencyList}}} </select> </td>
    </tr>
    <tr>
         <input type="submit" value="Convert" class="button"/>
    </tr>
    <tr>
        <td>converted amount </td>
        <td id="converted"></td>
    </tr>
</table>
 </form>